<loading></loading>
<alert></alert>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> {{'Jobs Manager'|translate}}
          <div class="card-actions">
            <a class="btn-setting" [routerLink]="['/employers/jobs/create']"><i class="icon-plus"></i></a>
          </div>
        </div>
        <div class="card-block">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
              <th>{{'Jobs Title'|translate}}</th>
              <th>{{'Jobs Category'|translate}}</th>
              <th>{{'Hiring Company'|translate}}</th>
              <th>{{'Location'|translate}}</th>
              <th>{{'Type'|translate}}</th>
              <th>{{'Action'|translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of model.results">
              <td><a [routerLink]="['/employers/jobs/detail/' + item.id]">{{item.name}}</a></td>
              <td>{{item.category.name}}</td>
              <td>{{item.company.name}}</td>
              <td>
                <a [routerLink]="['/employers/jobs/list/detail-location/' + item.location.id]"
                   [queryParams]="{returnUrl: '/employers/jobs/list'}">
                  {{item.location.name}}
                </a>
              </td>
              <td>{{item.type|label_select:'employment_types'}}</td>
              <td>
                <a title="{{'Edit'|translate}}" [routerLink]="['/employers/jobs/edit/' + item.id]">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a title="{{'Detail'|translate}}" [routerLink]="['/employers/jobs/detail/' + item.id]">
                  <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
                <a title="{{'Delete'|translate}}" [routerLink]="['/employers/jobs/delete/'+ item.id]">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination [(ngModel)]="currentPage"
                      [totalItems]="model.count"
                      [itemsPerPage]="itemsPerPage"
                      (pageChanged)="pageChanged($event)"></pagination>
        </div>
      </div>
    </div>
    <!--/col-->
  </div>
</div>

<router-outlet></router-outlet>
